:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-link: #ffffff;
  --color-bg-secondary: #ffc7e3;
  --border-radius: 17px;
  --border: 2px solid #000000;
  --box-shadow: 8px 10px 0 rgba(0, 0, 0, 0.3);
  --width-card-wide: 925px;
  --font-family-body: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-decoration-style: dashed;
  --header-text-color: #ffffff;
  --form-button-border: 2px solid #58648c;
  --form-button-hover-border: 2px solid #ffffff;
}


/* body_classes: header-centered-dark */