<script>
  window.goatcounter = { no_onload: true };
  const trackPageView = () => {
    if (typeof window.goatcounter.count === "function") {
      window.goatcounter.count({
        path: location.pathname + location.search + location.hash,
      });
    }
  };
  document.addEventListener("DOMContentLoaded", trackPageView);
  document.addEventListener("turbo:load", trackPageView);
</script>
<script
  data-goatcounter="https://analytics.medwaymascots.co.uk/count"
  async
  src="https://analytics.medwaymascots.co.uk/count.js"
></script>

<link rel="preconnect" href="https://fonts.bunny.net" />
<link
  href="https://fonts.bunny.net/css?family=caveat-brush:400"
  rel="stylesheet"
/>
